body {
    background-color: #000; /* Fundo preto */
    overflow: hidden; /* Esconde as barras de rolagem */
    margin: 0; /* Remove as margens padrão */
  }
  
  canvas {
    display: block; /* O canvas ocupa todo o espaço disponível */
  }